.pulse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin-bottom: 15px;
}
.pulse:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid black;
  border-color: black transparent black transparent;
  animation: pulse 1.2s linear infinite;
}
@keyframes pulse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fade {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 64px;
  height: 64px;
  margin-bottom: 15px;
}
.pulse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin-bottom: 15px;
}
.pulse:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid black;
  border-color: black transparent black transparent;
  animation: pulse 1.2s linear infinite;
}
@keyframes pulse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fade div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.pulse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin-bottom: 15px;
}
.pulse:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid black;
  border-color: black transparent black transparent;
  animation: pulse 1.2s linear infinite;
}
@keyframes pulse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fade div:nth-child(1) {
  left: 6px;
  .pulse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin-bottom: 15px;
}
.pulse:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid black;
  border-color: black transparent black transparent;
  animation: pulse 1.2s linear infinite;
}
@keyframes pulse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  
  animation: fade1 0.6s infinite;
}
.pulse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin-bottom: 15px;
}
.pulse:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid black;
  border-color: black transparent black transparent;
  animation: pulse 1.2s linear infinite;
}
@keyframes pulse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fade div:nth-child(2) {
  left: 6px;
  .pulse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin-bottom: 15px;
}
.pulse:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid black;
  border-color: black transparent black transparent;
  animation: pulse 1.2s linear infinite;
}
@keyframes pulse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  
  animation: fade2 0.6s infinite;
}
.pulse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin-bottom: 15px;
}
.pulse:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid black;
  border-color: black transparent black transparent;
  animation: pulse 1.2s linear infinite;
}
@keyframes pulse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fade div:nth-child(3) {
  left: 26px;
  .pulse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin-bottom: 15px;
}
.pulse:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid black;
  border-color: black transparent black transparent;
  animation: pulse 1.2s linear infinite;
}
@keyframes pulse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  
  animation: fade2 0.6s infinite;
}
.pulse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin-bottom: 15px;
}
.pulse:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid black;
  border-color: black transparent black transparent;
  animation: pulse 1.2s linear infinite;
}
@keyframes pulse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fade div:nth-child(4) {
  left: 45px;
  .pulse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin-bottom: 15px;
}
.pulse:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid black;
  border-color: black transparent black transparent;
  animation: pulse 1.2s linear infinite;
}
@keyframes pulse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  
  animation: fade3 0.6s infinite;
}
.pulse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin-bottom: 15px;
}
.pulse:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid black;
  border-color: black transparent black transparent;
  animation: pulse 1.2s linear infinite;
}
@keyframes pulse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.pulse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin-bottom: 15px;
}
.pulse:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid black;
  border-color: black transparent black transparent;
  animation: pulse 1.2s linear infinite;
}
@keyframes pulse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.pulse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin-bottom: 15px;
}
.pulse:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid black;
  border-color: black transparent black transparent;
  animation: pulse 1.2s linear infinite;
}
@keyframes pulse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.rainbow {
  color: official;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.rainbow div {
  transform-origin: 32px 32px;
  animation: rainbow 1.2s linear infinite;
}
.rainbow div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: black;
}
.rainbow div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.rainbow div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.rainbow div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.rainbow div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.rainbow div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.rainbow div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.rainbow div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.rainbow div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.rainbow div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.rainbow div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.rainbow div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.rainbow div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes rainbow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
