/* PULSE START */
.pulse {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 64px;
  height: 64px;
}
.pulse:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid black;
  border-color: black transparent black transparent;
  animation: pulse 1.2s linear infinite;
}
@keyframes pulse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* PULSE END */

/* FADE START */
.fade {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 15px;
  width: 64px;
  height: 64px;
}
.fade div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.fade div:nth-child(1) {
  left: 6px;
  animation: fade1 0.6s infinite;
}
.fade div:nth-child(2) {
  left: 6px;
  animation: fade2 0.6s infinite;
}
.fade div:nth-child(3) {
  left: 26px;
  animation: fade2 0.6s infinite;
}
.fade div:nth-child(4) {
  left: 45px;
  animation: fade3 0.6s infinite;
}
@keyframes fade1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fade3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes fade2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
/* FADE END */