.container {
  display: flex;
  flex-direction: column;
  width: auto;
}

@media (min-width: 768px) {
  .container {
      width: 96%;
      float: right;
  }
}

.container button {
  margin-top: 15px;
  width: 100%;
}

.form {
  display: inline-grid;
}

.input:first-of-type {
  padding-top: 0;
}