.avgSpeed {
  padding: 15px;
  width: 180px;
  text-align: center;
}

.avgSpeed h4 {
  margin: 0;
  color: rgba(0, 0, 0, 0.60);
  font-weight: 300;
}

.avgSpeed i {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

.avgSpeed p {
  text-align: left;
  margin-top: 0;
}

.avgSpeed .speed {
  font-weight: bold;
}