.avgSpeed {
  padding: 15px;
  margin-top: 15px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  min-height: 82px;
}

@media (min-width: 601px) {
  .avgSpeed {
    width: 180px;
    box-sizing: unset;
    margin-top: 0;
  }
}

.avgSpeed h4 {
  margin: 0;
  color: rgba(0, 0, 0, 0.60);
  font-weight: 300;
}

.avgSpeed p {
  text-align: left;
  margin-top: 0;
}

.avgSpeed .speed {
  font-weight: bold;
}