.usageInterval {
  padding: 15px;
  max-width: 180px;
  position: relative;
}

.usageInterval p {
  margin: 0 0 10px 0;
}

.textInsideDoughnut {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  text-align: center;
}

.textInsideDoughnut .upDownSpeed {
  margin-bottom: 5px;
}