.voltage {
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  height: auto;
}

@media (min-width: 601px) {
  .voltage {
    width: 210px; /* 180px + 30px margin (⊙_⊙) */
    height: 100%;
  }
}

.voltage p {
  margin-top: 0;
}

.voltage h2 {
  margin: 0 10px 0 0;
}

.voltageStatus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (min-width: 601px) {
  .voltageStatus {
    flex-direction: column;
  }
}