.container {
  padding: 15px;
}

.p {
  margin-top: 0;
}

.h2 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}

.voltageStatus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}