.container {
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: auto;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .admin {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
}