.container {
    display: flex;
    flex-direction: column;
    width: auto;
    width: 100%;
    margin-bottom: 35px;
}

@media (min-width: 768px) {
    .container {
        width: 96%;
        margin-bottom: 0;
    }
}

.p {
    text-transform: uppercase;
    font-size: .8rem;
    margin: 0;
}

.p:nth-of-type(2) {
    margin-top: 5px;
    margin-bottom: 15px;
}

.status {
    font-style: italic;
    color: rgba(0, 0, 0, 0.54);
}

.input {
    width: 100%;
}

.buttons {
}

.buttons button {
    width: 100%;
    margin-top: 15px;
}