p {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-style: italic;
  font-size: .8rem;
}

.colorPreview {
  height: 210px;
  width: 210px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}

.colorPresets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  cursor: pointer;
}

.colorPreset {
  height: 100px;
  width: 100px;
}

.brightnessSlider {
  display: inline-block;
}

.huePicker {
  width: inherit !important;
}

.alphaPicker {
  margin-top: 10px;
  width: inherit !important;
}

.brightnessIcons {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}