.p {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-style: italic;
  font-size: .8rem;
}

.colorPreview {
  height: 120px;
  width: 100px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}

@media (min-width: 601px) {
  .colorPreview {
    height: 210px;
    width: 210px;
  }
}

.colorPresets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  cursor: pointer;
}

.sliderPicker > div {
  height: 16px !important;
}

.sliderPicker > div > div > div > div > div {
  height: 18px !important;
  width: 18px !important;
  border-radius: 50% !important;
}

/* Only make the sliders larger for fat figners on mobile */
@media (max-width: 767px) {
  .sliderPicker > div {
    height: 25px !important;
  }

  .sliderPicker > div > div > div > div > div {
    height: 27px !important;
    width: 27px !important;
    border-radius: 50% !important;
  }

  .sliderPicker:nth-child(2) > div > div > div > div {
    height: 18px !important;
  }

  .alphaPicker {
    margin-top: 10px;
    height: 25px !important;
    width: inherit !important;
  }

  .alphaPicker > div > div > div > div {
    height: 27px !important;
    width: 27px !important;
    border-radius: 50% !important;
  }
}