.statsContainer {
  margin-bottom: 75px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.wrapper {
  padding: 15px;
  width: 100%;
}

.dividerH {
  height: 1px;
  width: 100%;
  margin: 0 15px;
  background: rgba(0,0,0,.1);
}

.dailyBarGraph {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

@media (min-width: 768px) {
  .row {
    flex-direction: row;
  }

  .dividerV {
    height: 80px;
    width: 1px;
    background: rgba(0,0,0,.1);
    margin: auto 0;
  }

  .row:not(:first-of-type) {
    padding-top: 15px;
  }
  
  .row:not(:last-of-type) {
    padding-bottom: 5px;
  }
}