.container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    width: 50%;
    margin: 25px auto 35px auto;
  }
}

.loading {
  display: flex;
  justify-content: center;
}

.form {
  display: inline-grid;
}

.form div:first-child {
  margin-bottom: 15px;
}

.form button {
  margin-top: 35px;
}