.loginContainer {
  display: flex;
  flex-direction: column;
  margin: 25px auto 35px auto;
}

.loginContainer form {
  display: inline-grid;
}

.loginContainer form div:first-child {
  margin-bottom: 15px;
}

.loginContainer button {
  margin-top: 35px;
}