.battMinMax {
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

@media (min-width: 601px) {
  .battMinMax {
    width: 180px;
    box-sizing: unset;
  }
}

.battMinMax h4 {
  margin: 0;
  color: rgba(0, 0, 0, 0.60);
  font-weight: 300;
}

.battMinMax p {
  text-align: left;
  margin-top: 0;
}

.battMinMax .volt {
  font-weight: bold;
}