body {
  padding: 0;
  margin: 0;
  background-color: #ECEEEE;
  font-family: 'Roboto', sans-serif;
}

.App {
  max-width: 720px;
  margin: 0 auto;
}

.activeAnimation {
  box-shadow: 0 0 1px 2px rgba(0, 128, 0, 0.5) !important;
}
 /* Animation for refresh button */
.refreshAnimation {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;

  transform: rotate(360deg);
}

/* Loader animation */
.loadingAnimation {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.loadingAnimation:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid black;
  border-color: black transparent black transparent;
  animation: loadingAnimation 1.2s linear infinite;
}
@keyframes loadingAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}