.container {
  padding: 15px;
}

.elements {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h4 {
  margin: 0;
  color: rgba(0, 0, 0, 0.60);
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 15px;
}

.p {
  text-align: left;
  margin-top: 0;
}

.volt {
  font-weight: bold;
}